.lyrics {
    > div {
        font-weight: 500;
        margin: 1.25rem 0;
        color: var(--color-primary);
    }
    > p {
        opacity: 0.65;
        position: relative;
        line-height: 2;
        margin-bottom: 0.3rem;

        .icon {
            position: absolute;
            left: -1rem;
            top: 0.7rem;
            color: var(--color-primary);
        }

        &.active {
            opacity: 1;
            font-weight: 500;
        }
    }
}